@charset "UTF-8";
/*paleta de cores
#67704C - verde
#C7A987 - beje
#654A34 - marrom
*/

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;500&display=swap'); /*nome do restaurante*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');/*menu*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');/*bemvindo*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');/*texto*/
*{
    margin: auto;
}
header{
    background-color: #67704C;
}
header h1{
    color: white;
    text-align: right;
    font-family: 'Sono', sans-serif;
    font-size: 1.5em;
    padding: 15px;
}
menu{
    display: block;
}
menu img{
    display: none;
}
ul{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    list-style-type: none;
    position: absolute;
    top: 10px;
    margin-left:-80px ;
    
    
}
li{
    
    display: inline-block;
    padding: 10px; 
    margin: 2px;
}
header a{
    
    text-decoration: none;
    color: white;
}
#ftinicio{
    background-image: url(imagens/inicio.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
}
#bemvindo{
    width: 90vw;
    height: 80vh;
}
#bemvindo h1{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin-top: 50px ;
    margin-bottom: 80px;
    font-size: 4em;
    color: #67704C;

}
#bemvindo p{
    font-family: 'Nunito Sans', sans-serif;
    margin: 10px 50px;
    text-align: justify;
    text-indent: 20px;

}
#bemvindo img{
    display: inline-block;
    left:43%;
    margin: 40px 15px;
    position: relative;
}
#pratos{
    position: relative;
    display: inline-block;
    width: 90vw;
    height: 80vh;
    margin: 20px 80px;
}
.material-symbols-outlined{
    position: relative;
    display: block;
    left: 230px;
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
}
#beje{
    background-color: #C7A987;
    position: relative;
    display: inline-block;
    width: 280px;
    height: 400px;
    left: 140px;
    text-align: left;
    border: 1px solid black;
} 
#beje img{
    position: relative;
    display: block;
    margin: 0px auto;
    width: 250px;
    top:-20%;
    border-radius: 50%;
}
#beje h3{
    font-size: 1.5em;
    position: relative;
    top: -15%;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
}
#beje p{
    text-align: justify;
    position: relative;
    top: -15%;
    text-indent: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    margin: 5px 10px
}

#verde{
    position: relative;
    display: inline-block;
    width: 280px;
    height: 400px;
    left: 150px;
    background-color: #67704C;
    text-align: left;
    border: 1px solid black;
} 
#verde img{
    position: relative;
    display: block;
    margin: 0px auto;
    width: 250px;
    top:-20%;
    border-radius: 50%;
}
#verde h3{
    font-size: 1.5em;
    position: relative;
    top: -15%;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
}
#verde p{
    text-align: justify;
    position: relative;
    top: -15%;
    text-indent: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    margin: 5px 10px
}
#marrom{
    position: relative;
    display: inline-block;
    width: 280px;
    height: 400px;
    left: 160px;
    margin-right: 15px;
    background-color: #654A34;
    text-align: left;
    border: 1px solid black;
} 
#marrom img{
    position: relative;
    display: block;
    margin: 0px auto;
    width: 250px;
    top:-20%;
    border-radius: 50%;
}
#marrom h3{
    font-size: 1.5em;
    position: relative;
    top: -15%;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
}
#marrom p{
    text-align: justify;
    position: relative;
    top: -15%;
    text-indent: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    margin: 5px 10px
}
#cafe{
    position: relative;
    display: block;
    width: 90vw;
    height: auto;
}
#imgcafe{
    position: relative;
    display: inline-block;
   
}

#imgcafe img{
        position: relative;
        display: inline-block;
        margin: 0px;
        width: 507px;
        height: 500px;
        left: 100px;
}

#imgcafe p{
    background-color: #654A34;
    text-align: justify;
    position: absolute;
    display: inline-block;
    margin: 0px;
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    width: 410px;
    height: 398px;
    left:605px;
    border: 1px solid black;
}
#imgcafe span{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
#imgcafe.material-symbols-outlined{
    left: 500px;
}
#restaurant{
    display: block;
    width: 90vw;
    height: 100vh;
}
#imgrestaurant{
    margin-top: 50px;
    position: relative;
    display: inline-block;
   
}
#imgrestaurant2{
    position: relative;
    display: inline-block;
   
}
#imgrestaurant img{
    position: absolute;
    display: inline-block;
    margin: 0px;
    width: 365px;
    height: 500px;
    left: 100px;
    top:4px;
}
#imgrestaurant2 img{
    position: absolute;
    display: inline-block;
    margin: 0px;
    width: 365px;
    height: 500px;
    left: 750px;
    top: -14px;
}#restaurant p{
    font-size: 1.2em;
    color: white;
    background-color: #C7A987;
    text-align: justify;
    position: absolute;
    display: inline-block;
    margin: 0px;
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 150px;
    width: 270px;
    height: 348px;
    left:450px;
    border: 1px solid #654A34;
}
#redes legend{
    color: #67704C;
    font-size: 1.1em;
    display: inline-block;
    left:33%;
    margin: 0px;
    top: 50px;
    position: relative;
}
#redes img{
    display: inline-block;
    left:35%;
    margin-top: 50px;
    top: 50px;
    position: relative;


}
#redes2 img{
    display: inline-block;
    left:56%;
    top: -90px;
    margin-top: 50px;
    position: relative;


}
#redes2 legend{
    color: #67704C;
    font-size: 1.1em;
    display: inline-block;
    left:54.5%;
    top: -90px;
    margin: 0px;
    position: relative;
}
footer{
        display: block;
        width: 100vw;
        height: 80vh;
    
}
#rodape{

    background-color: #67704C;
}
#rodape p{
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    top: -50px;
    padding: 0px 100px;
    color: white;
    text-align: left;
}
#rodape img{
    width: 200px;
    padding-top: 50px;
    padding-left: 150px;
}
#rodape h3{
    display: inline-block;
    position: relative;
    font-size: 1em;
    top: -70px;
    left: 100px;
    padding: 0px 150px;
    color: white;
    text-align: left;
}
#rodape h3>a{
    display: inline-block;
    position: relative;
    left: 40%;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid #C7A987;
    border-radius: 20px;

}
#rodape h3>a:hover{
    background-color: #C7A987;
    border: 1px solid #654A34;
    color: #67704C;
}
/*RESPOSIVIDADE*//*tablet*/
@media screen and (max-width:768px){
    menu img{
        display: none;
    }
    #pratos{
        position: relative;
        display: inline-block;
        width: 90vw;
        height: 80vh;
        margin: 100px 80px;
    }
    #bemvindo img{
        display: inline-block;
        left:35%;
        margin: 40px 15px;
        position: relative;
    }
    #beje{
        background-color: #C7A987;
        position: relative;
        display: inline-block;
        width: 280px;
        height: 400px;
        left: 0px;
        text-align: left;
        border: 1px solid black;
    } 
    .material-symbols-outlined{
        position: relative;
        display: block;
        left: 210px;
        color: white;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    #verde{
        position: relative;
        display: inline-block;
        width: 280px;
        height: 400px;
        left: -10px;
        background-color: #67704C;
        text-align: left;
        border: 1px solid black;
    } 
    #marrom{
        display: none;
    } 
    #imgcafe img{
        position: relative;
        display: inline-block;
        margin: auto;
        width: 300px;
        height: 350px;
        left: 50px;
}

#imgcafe p{
    font-size: 0.7em;
    background-color: #654A34;
    text-align: justify;
    position: absolute;
    display: inline-block;
    margin: 0px;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    width: 230px;
    height: 318px;
    left:350px;
    border: 1px solid black;
    overflow: hidden;
}
#imgcafe span{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#imgrestaurant img{
    position: absolute;
    display: inline-block;
    margin: 0px;
    width: 200px;
    height: 350px;
    left: 50px;
    top:4px;
}
#restaurant p{
    font-size: 1.2em;
    color: white;
    background-color: #C7A987;
    text-align: justify;
    position: absolute;
    display: inline-block;
    margin: 0px;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    width: 130px;
    height: 334px;
    left:278px;
    border: 1px solid #654A34;
    }
    #imgrestaurant2 img{
        position: absolute;
        display: inline-block;
        margin: 0px;
        width: 200px;
        height: 350px;
        left: 411px;
        top: -14px;
}
#redes img{
    top: -100px;
    margin-bottom: 0px;
}
#redes legend{
    top: -80px;
}
#redes2 img{
    top: -241px;
}
#redes2 legend{
    top: -224px;
}
#rodape p{
    display: block;
    position: relative;
    font-size: 1.2em;
    top: 0px;
    padding: 30px 100px;
    color: white;
    text-align: center;
}
#rodape img{
    width: 200px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 270px;
}
#rodape h3{
    display: block;
    position: relative;
    font-size: 1em;
    top: -15px;
    left: 110px;
    padding: 0px 150px;
    color: white;
    text-align: left;
}
#rodape h3>a{
    display: inline-block;
    position: relative;
    left: 20%;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid #C7A987;
    border-radius: 20px;

}
}
/*celular*/
@media screen and (max-width: 600px){ 
   header{
    width: 98vw;
   }
   header menu{
    width: auto;
   }
   
    menu p{
        display: none;
    }
    menu img{
        display: block;
    }
    menu li:hover::after{
        display: block;
    }
    li{
        
        background-color: #67704C;
        display: inline-block;
        padding: 10px; 
        margin: 0px;
    }
    #ftinicio{
        width: auto;
       }
    #bemvindo{
        width: auto;
    }
    #bemvindo img{
        display: inline-block;
        left:30%;
        margin: 40px 15px;
        position: relative;
    }
    #pratos{
        width: 100vw;
    }
    #beje{
        margin-top:250px ;
        background-color: #C7A987;
        position: relative;
        display: inline-block;
        width: 280px;
        height: 400px;
        left: 7%;
        text-align: left;
        border: 1px solid black;
    } 
    #beje img{
        position: relative;
        display: block;
        margin: 0px auto;
        width: 250px;
        top:-20%;
        border-radius: 50%;
    }
    #beje h3{
        font-size: 1.5em;
        position: relative;
        top: -15%;
        font-family: 'Raleway', sans-serif;
        color: white;
        text-align: center;
        margin-top: 0px;
    }
    #beje p{
        text-align: justify;
        position: relative;
        top: -15%;
        text-indent: 10px;
        font-family: 'Nunito Sans', sans-serif;
        color: white;
        margin: 5px 10px
    }
    #verde{
        display: none;
    }
    #marrom{
        display: none;
    }
    #cafe{
        width: 100vw;
    }
    #imgcafe img{
        position: relative;
        display: block;
        margin: 0px;
        width: 285px;
        height: 400px;
        left:40%;
}
    #imgcafe p{
        color: white;
        font-size: 0.7em;
        background-color: #654A34;
        text-align: justify;
        position: absolute;
        display: block;
        margin: 0px;
        margin-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        width: 253px;
        height: 318px;
        left:40%;
        border: 1px solid black;
        overflow: hidden;
    }
    #imgcafe span{
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
}
#restaurant{
    width: auto;
}
#imgrestaurant img{
    position: relative;
    display: block;
    margin: 50px;
    width: 290px;
    height: 350px;
    left: 15%;
    top:300px;
}
#restaurant p{
    font-size: 1.2em;
    color: white;
    background-color: #C7A987;
    text-align: justify;
    position: relative;
    display: block;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    width: 258px;
    height:200px;
    left:22.5%;
    top: 245px;
    border: 1px solid #654A34;
    }
    #imgrestaurant2 img{
        display: none;
}
footer{
    width: auto;
    margin-top: 300px;
}
#redes img{
    top: 120px;
    margin-bottom: 0px;
}
#redes legend{
    top: 120px;
    left: 150px;
}
#redes2 img{
    top: -25px;
}
#redes2 legend{
    top: -25px;
    left: 265px;
}
#rodape p{
    display: block;
    position: relative;
    font-size: 1.2em;
    top: 0px;
    padding: 15px 100px;
    color: white;
    text-align: center;
}
#rodape img{
    width: 200px;
    margin-top: -10px;
    padding-top: 0px;
    padding-left: 160px;
}
#rodape h3{
    text-align: center;
    display: block;
    position: relative;
    font-size: 1em;
    top: 0px;
    width: 200px;
    left: 30px;
    padding: 0px 0px;
    color: white;
}
#rodape h3>a{
    display: inline-block;
    position: relative;
    left: 0%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid #C7A987;
    border-radius: 20px;

}
}